.banner {
  .fas {
    font-size: 24px;
  }
  .logo {
    margin-bottom: 30px;
    width: 187px;
  }
  .mediumText {
    margin-bottom: $largeSpace;
  }
  p {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
  }
  @include media-breakpoint-down(sm) {
    padding: $mediumSpace 0;
  }
}