.topBar {
  background-color: $darkGreen;
  @include media-breakpoint-down(xs) {
    margin-bottom: $mediumSpace;
  }
}

nav {
  text-transform: uppercase;
  a.logo {
    &:hover:after {
      display: none;
    }
    img {
      margin-bottom: -52px;
      width: 80px;
      @include media-breakpoint-up(md) {
        margin-bottom: -98px;
        width: 130px;
      }
    }
  }
  a {
    color: #fff;
    display: block;
    position: relative;
    &:hover {
      color: #fff;
      text-decoration: none;
      &:after {
        background-color: #fff;
        bottom: 0;
        content: '';
        height: 3px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
    @include media-breakpoint-up(sm) {
      padding: $smallSpace 20px;
    }
  }
}

.navbar-expand-md .navbar-nav .nav-link {
  padding: $extraSmallSpace $smallSpace;
}

.navbar-nav {
  align-items: flex-end;
}

.navbar-toggler-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  &:after {
    border-bottom: solid 2px #fff;
    border-top: solid 2px #fff;
    content: '';
    height: 10px;
    width: 70%;
  }
}