body {
  background-color: $beige;
}

header {
  height: 100vh;
  margin-bottom: $extraLargeSpace + 20;
  min-height: 800px;
  > .container {
    align-items: center;
    display: flex;
    justify-content: center;
    // max-height: 783px;
    min-height: 660px;
    @include media-breakpoint-up(md) {
      height: calc(100% - 64px);      
    }
  }
  @include media-breakpoint-up(md) {
    max-height: 850px;    
  }
}

.btn {
  border-radius: 0;
  border-width: 2px;
  color: #fff;
  letter-spacing: 1.5px;
  padding: .9rem 1.5rem;
  text-transform: uppercase;
}

.heroWrapper {
  background: $beige url('/images/paige-top.jpg') top no-repeat;
  background-size: 190%;
  background-position: -60px 282px;
  @include media-breakpoint-up(md) {
    background-size: 100%;
    background-position: center 0;
  }
}

.opening {
  margin-bottom: $mediumSpace;
  [class*='col-'] {
    & + [class*='col-'] {
      @include media-breakpoint-down(sm) {
        margin-top: $extraLargeSpace;        
      }
    }
  }
  .quote {
    font-size: 34px;
    line-height: normal;
    position: relative;
    text-align: center;
    z-index: 2;
    @include media-breakpoint-up(md) {
      text-align: left;
      font-size: 54px;
    }
  }
  .author {
    font-family: $teko;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    @include media-breakpoint-up(md) {
      font-size: 32px;
      margin-bottom: $largeSpace;
      text-align: left;
    }
  }
  .wrap {
    position: relative;
    &:before {
      content:  '\201C';
      color: #D3D3C3;
      font-size: 250px;
      left: 50%;
      line-height: normal;
      margin-left: -50px;
      position: absolute;
      top: -100px;
      z-index: 1;
      @include media-breakpoint-up(md) {
        font-size: 400px;
        left: -80px;
        margin-left: 0;
        position: absolute;
        top: -160px;
      }
    }
  }
  @include media-breakpoint-up(md) {
    margin-bottom: $extraLargeSpace;
  }
}

.eventTiles {
  margin-bottom: $mediumSpace;
  [class^='col-'] {
    display: flex;
    @include media-breakpoint-down(sm) {
      margin-bottom: $mediumSpace;
    }
  }
  i {
    font-size: 24px;
    position: relative;
    &:not(.fa-arrow-right) {
      font-size: 34px;   
      margin-bottom: $smallSpace;   
    }
  }
  p {
    font-size: 20px;
    position: relative;
  }
  .tile {
    align-items: center;
    background-size: cover;
    color: #fff;
    display: flex;
    height: 350px;
    justify-content: center;
    padding: 0 $mediumSpace;
    position: relative;
    width: 100%;
    &:before {
      background-color: rgba(0,0,0,.5);
      content: '';
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }
    &:hover {
      text-decoration: none;
    }
  }
  span {
    z-index: 1;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: $extraLargeSpace;
  }
}

.bottomTiles {
  background-color: $red;
  color: #fff;
  text-align: center;
  h4 {
    color: #fff;
  }
}

.campaign {
  background: $darkBlue url('/images/paige-middle.jpg') bottom no-repeat;
  color: #fff;
  padding: $largeSpace 0;
  text-align: center;
  .bigText {
    margin-bottom: $smallSpace;
  }
  .campaignCauses {
    font-style: italic;
    margin-bottom: $largeSpace;
    [class*='col-'] {
      & + [class*='col-'] {
        margin-top: $mediumSpace;
        @include media-breakpoint-up(md) {
          margin-top: 0;
        }
      }
    }
    > div {
      margin-bottom: $mediumSpace;
      padding: 0 $smallSpace;
      &:last-child {
        margin-bottom: 0;
      }
      @include media-breakpoint-up(md) {
        width: 20%;
      }
    }
    i {
      font-size: 34px;
      display: block;
      margin-bottom: $smallSpace;
    }
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
  .campaignDescription {
    margin-bottom: $smallSpace;
    p {
      line-height: 1.8;
      margin-bottom: $mediumSpace;
      @include media-breakpoint-up(md) {
        line-height: normal;
        margin-bottom: 1rem;
      }
    }
  }
  .row {
    & + .row {
      @include media-breakpoint-up(md) {
        margin-top: $largeSpace;
      }
    }
  }
  @include media-breakpoint-up(md) {
    padding: 120px 0;
    text-align: left;
  }
}

.donationTiers {
  [class^='col-'] {
    margin-bottom: 30px;
  }
  .dollars {
    align-items: center;
    border: solid 3px #fff;
    border-radius: 50%;
    display: flex;
    font-size: 28px;
    height: 120px;
    justify-content: center;
    margin: 0 auto $smallSpace auto;
    width: 120px;
  }
  h4 {
    color: #fff;
    font-family: $lora;
    text-transform: none;
  }
  p {
    line-height: 2;
  }
}

.eventsAndCta {
  background: $beige url('/images/player-bottom.jpg') top no-repeat;
  padding-top: $extraLargeSpace;
  [class^='col-'] {
    margin-bottom: $mediumSpace;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .container:first-child {
    margin-bottom: $extraLargeSpace;
  }
  .fas {
    font-size: 56px;
    margin-bottom: $mediumSpace;
  }
  h3 {
    letter-spacing: 5px;
    margin-bottom: $largeSpace;
  }
  h5 {
    display: inline-block;
    margin-bottom: $smallSpace;
    padding: 0 $smallSpace $smallSpace $smallSpace;
    position: relative;
    &:after {
      background-color: $darkBlue;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 150%;
      }
    }
    @include media-breakpoint-up(md) {
      padding: 0 0 $smallSpace 0;
    }
  }
  .ctaTiles {
    align-items: center;
    background-color: $red;
    color: #fff;
    display: flex;
    height: 400px;
    justify-content: center;
    padding: 0 $smallSpace;
    text-align: center;
    h4 {
      color: #fff;
      margin-bottom: $smallSpace;
    }
    p {
      margin-bottom: $smallSpace + 10;
    }
  }
  @include media-breakpoint-down(sm) {
    background-position: -650px 0;
    text-align: center;
  }
}

footer {
  background-color: $darkGreen;
  color: #fff;
  font-size: 14px;
  padding: $smallSpace;
}