body {
  font-family: $lora;
  color: $darkBlue;
}

h1, h2, h3, h4 {
  color: $darkBlue;
  font-family: $teko;
  text-transform: uppercase;
}

h1 {
  @include media-breakpoint-up(sm) {
    font-size: 100px;
    letter-spacing: 3px; 
  }
}

h3 {
  font-size: 56px;
  letter-spacing: 2px;
}

h4 {
  font-size: 32px;
  letter-spacing: 2px;
  @include media-breakpoint-up(md) {
    font-size: 38px;
  }
}

h5 {
  color: $darkBlue;
  font-family: $lora;
  font-size: 27px;
}

.bigText {
  font-size: 25px;
}

.campaign {
  h2 {
    color: #fff;
    letter-spacing: 6px;
    text-align: center;
    @include media-breakpoint-up(md) {
      font-size: 80px;
    }
  }
  p.smallText:not(.bigText) {
    margin-bottom: $mediumSpace;
  }
}

.eventTiles {
  h4 {
    color: #fff;
    font-family: $teko;
    text-transform: uppercase;    
  }
}

.mediumText {
  font-size: 20px;
}

.scroll {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.smallText {
  font-size: 14px;
}