$extraLargeSpace: 90px;
$largeSpace: 60px;
$mediumSpace: 40px;
$smallSpace: 20px;
$extraSmallSpace: 10px;

$beige: #f1eedb;
$darkBlue: #1d2d44;
$darkGreen: #023701;
$red: #a73d2f;
$tan: #F1F0DC;
$primary: $darkBlue;

$lora: 'Lora', serif;
$teko: 'Teko', sans-serif;